/*font-family: 'Shadows Into Light', cursive;
 font-family: 'Indie Flower', cursive;
*/

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	
}

/*ETIQUETAS*/
body{
background-image: url(../img/fondo.jpg);
background-repeat: no-repeat;
background-size: cover;
}

h1{
font-family: 'Shadows Into Light', cursive;
color: white;
margin-left: 10px;
font-size: 60px;
text-align: center; 
}

h2{
font-family: 'Indie Flower', cursive;
color: yellow;
margin-left: 40px;
font-size: 40px;
text-align: center; 
}

h3{
font-family: 'Shadows Into Light', cursive;;
color: blue;
font-size: 30px;
text-align: center; 
}

h4{
font-family: 'Shadows Into Light', cursive;;
color: white;
font-size: 20px;
text-align: center; 
}
h5{
width: 1000px;
height: 50px;
border-radius: 10px;

}
p{
font-family: 'arial', cursive;;
color: blue;
font-size: 12px;
text-align: justify; 
}

header{
	width: 800px;
	height: 120 px;
	background: rgba(255, 255, 255, 10,70);
}

nav{
width: 1000px;
height: 50px;
background: black;
border-radius: 10px;

}
ul{
margin: auto;
padding-top: 4px;
}

li{
	float: left;
	list-style-type: none;
	padding: 10px;
	background: black;
	margin: 3px;
	border-radius: 10px;
	box-shadow: 0 0 20px white inset; 

}

section{
	width: 700px;
	background: #FFFAF0;
	height: 600px;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
	text-align: center; 
}
aside{

	width: 280px;
	background:	#DECFF5;
	height: 600px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 10px;
	font-family: 'arial', cursive;;
    color: blue;
    font-size: 18px;
    text-align: justify
}

footer{
width: 1000px;
height: 70px;
background: black;
float: left;
margin-top: 20px;
border-radius: 10px;
margin-bottom: 20px;
}

p{

	font-size: 15px;
	font-weight: bolder;
	line-height: 24px;
	padding: 10px;
	text-align: center;
}


/*CLASES*/

.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

.menu:link{color: blue; text-decoration: none;}
.menu:visited{color: blue; text-decoration: none;}
.menu:hover{color: blue; text-decoration: none; text-shadow: 0 0 15px blue;}
.menu:active{color: blue; text-decoration: none;}

/*SEUDO CLASES*/

















